extends services-list.pug

block services-swiper
    .swiper.services-swiper
        .swiper-wrapper.services-swiper__wrapper
            each item in list
                .swiper-slide.services-swiper__item
                    a(href="#").link.services-card                    
                        .services-card__img-wrapper
                            img(srcset=item.img + " 1x," + item.img_retina + " 2x" src=item.img alt=item.title).services-card__img
                            .services-card__img-overlay
                            button(type="button").button.services-card__find-more-btn Find out more
                        .services-card__meta 
                            p.services-card__title  #{item.title}
                            .services-card__footer
                                span.services-card__price.services-card__price--right-offset #{item.currentPrice}
                                span.services-card__price.services-card__price--old #{item.oldPrice}
                                span.services-card__time 
                                    svg.icon.services-card__icon
                                        use(href="./assets/images/icons.svg#clock") 
                                    | #{item.time}

        button(type="button").button.swiper-button-prev.swiper__prev
            svg(width="36" height="36").icon
                use(href="./assets/images/icons.svg#prev-arrow") 
        button(type="button").button.swiper-button-next.swiper__next
            svg(width="36" height="36").icon
                use(href="./assets/images/icons.svg#next-arrow")  

