extends ../data/services-list.pug

block services-swiper
    - 
        var imageBasePath = "./assets/images/services/";

    .services__swiper-wrapper
        .swiper.services-swiper
            .swiper-wrapper.services-swiper__wrapper
                each item in list
                    .swiper-slide.services-swiper__item
                        .link.link--pointer.services-card                    
                            .services-card__img-wrapper
                                //- img(srcset=item.img + " 1x," + item.img_retina + " 2x" src=item.img alt=item.title).services-card__img
                                picture.services-card__img
                                    source(srcset= imageBasePath + item.mob_1x + " 1x," + imageBasePath + item.mob_2x + " 2x" media="(max-width: 767.98px)" type="image/jpeg")
                                    source(srcset= imageBasePath +  item.desktop_1x + " 1x," + imageBasePath + item.desktop_2x + " 2x" media="(min-width: 768px)" type="image/jpeg")
                                    //- img(src= imageBasePath + item.mob_1x alt=item.alt loading="lazy" sizes="(max-width: 767.98px) 265px, 360px").services-card__img
                                    img(src= imageBasePath + item.mob_1x alt=item.alt loading="lazy" width="265" height="331").services-card__img

                                .services-card__img-overlay
                                button(type="button").button.services-card__find-more-btn Find out more
                            .services-card__meta 
                                p.services-card__title  #{item.title}
                                .services-card__footer
                                    span.services-card__price.services-card__price--right-offset #{item.currentPrice}
                                    span.services-card__price.services-card__price--old #{item.oldPrice}
                                    span.services-card__time 
                                        svg.icon.services-card__icon
                                            use(href="./assets/images/icons.svg#clock") 
                                        | #{item.time}

        button(type="button").button.swiper-button-prev.swiper-prev.services__swiper-prev.js-services-prev
            svg(width="36" height="36").icon
                use(href="./assets/images/icons.svg#prev-arrow") 
        button(type="button").button.swiper-button-next.swiper-next.services__swiper-next.js-services-next
            svg(width="36" height="36").icon
                use(href="./assets/images/icons.svg#next-arrow")  

